 .message {
     max-width: 70%;
     padding: 10px 15px;
     border-radius: 20px;
     margin: 5px;
     font-size: large;
     word-wrap: break-word;
 }

 .sent {
     align-self: flex-end;
     background-color: #dcf8c6;
     color: black;
 }

 .received {
     align-self: flex-start;
     background-color: #ffffff;
     color: black;
 }

 ul {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     height: 80vh;
     overflow-y: auto;
     padding: 10px;
     margin: 0;
     list-style-type: none;
     scroll-behavior: smooth;
 }

 body {
     font-family: sans-serif;
     margin: 0;
     padding: 0;
     background-color: rgb(102, 102, 223);
 }



 li {
     padding: 10px;

     color: white;
     font-size: larger;
 }

 form {
     display: flex;
     padding: 10px;
 }

 input {
     display: flex;
     padding: 10px;
     background-color: rgb(237, 237, 243);
     color: rgb(20, 19, 19);
     font-size: larger;
     border: none;
     border-radius: 30px;
 }

 button {
     display: flex;
     padding: 10px;
     background-color: rgb(232, 232, 240);
     color: rgb(15, 13, 13);
     font-size: larger;
     border: none;
     border-radius: 30px;
 }

 #chat-form {
     position: fixed;
     bottom: 0;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px;
     background-color: rgb(131, 131, 212);
     border-radius: 30px;
 }